<div class="form">
  <form action="/sessions" method="POST">
    <div class="container">
      <label><b>Username</b></label>
      <input type="text" name="username" placeholder="Username">

      <label><b>Password</b></label>
      <input type="password" name="password" placeholder="Password">

      <input type="submit" value="Sign In">
    </div>
  </form>
</div>