html {
  height: 100%;
}

body {
  height: 100%
}

.home-body {
  background-image: url("Bird.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  padding: 16px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#hello-user {
  margin-bottom: 0px;
  margin-right: 20px;
  font-family: brandon-grotesque, sans-serif;
  /*font-family: Palatino;*/
  font-weight: bold;
  font-size: 6vw;
  color: #fcfaf9;
  text-align: right;
}

#quote-container {
  bottom: 10px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
  align-items: flex-end;
}

.quote-body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:120.5%;
  font-weight:300;
  color: #FFFFFF;
  line-height:120%;
  text-align: center;
}

.quote-author-text {
  font-size:70%;
}

#holiday-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: 8%;
  margin-left: 8%;
  height: 50vh;
}

.national-holidays {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background: rgba(232, 219, 228, 0.3);
  -webkit-transition: background 8s;
}

.national-holidays:hover {
  background-color: #d4bfcd;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  -webkit-animation: pulse 2s linear 1s infinite;
  -webkit-transition: background 1s;
}

.holiday-names {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 140.5%;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  vertical-align: middle;
  width: 80%;
}

.holiday-names:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px #cdaed0;
  font-weight: 320;
}

.hidden {
  display: none;
}

