ul {
  padding:0;
  list-style: none;
}

.footer-social-icons {
  width: 350px;
  display:block;
  bottom: 0;
  position: absolute;
  left: 0px;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  display: flex;
  align-items: center;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.fa-github:hover {
  background-color: #333;
}

.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.fa-instagram:hover {
  background-color: #ff805c;
}

.fa-google {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.fa-google:hover {
  background-color: #c71610;
}