<div class="footer-social-icons">
  <ul class="social-icons">
    <li><a href="http://www.linkedin.com/in/missquynh/" class="social-icon" target="_blank"> <i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://github.com/miss-quynh" class="social-icon" target="_blank"> <i class="fa fa-github"></i></a></li>
    <li><a href="http://www.facebook.com/quynh.x3" class="social-icon" target="_blank"> <i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/miss_quynh/" class="social-icon" target="_blank"> <i class="fa fa-instagram"></i></a></li>
    <li><a href="mailto:qnguyenx3@gmail.com" class="social-icon" target="_blank"> <i class="fa fa-google"></i></a></li>
  </ul>
</div>