<div class="today-page">
  <div id="today-content">

    <div class="clock-container">
      <div id="Date"></div>
        <ul class="clock-display">
          <li class="numbers-symbols" id="hours"></li>
          <li class="numbers-symbols" id="first-point">:</li>
          <li class="numbers-symbols" id="min"></li>
          <!-- <li id="second-point">:</li>
          <li id="sec"></li> -->
        </ul>
    </div>

    <div id="holiday-container">
      <% @day.national_holidays.each do |holiday| %>
        <div class="circles national-holidays">
          <p class="holiday-names"><%= holiday.name %></p>
        </div>
      <% end %>
    </div>

    <div id="quote-container">
      <p class="quote-body">
        <span class="quote-body-text">"<%= @quote.body %>"</span><br>
        <span class="hidden quote-author-text"><%= @quote.author %></span>
      </p>
    </div>

  </div>

  <div id="navigation-bar">
    <span class="site-name">bubbly</span>

    <div id="follow-container">
      <span class="follow-icons">
        <%= erb :'days/_follow' %>
      </span>
    </div>
  </div>

</div>

