<div class="today_page">

  <h1 id="hello-user"> Hello<%=', ' + current_user.first_name.capitalize if logged_in? %>! </h1>


  <div id="today-content">
    <div id="holiday-container">
      <% @day.national_holidays.each do |holiday| %>
        <div class="circles national-holidays">
          <p class="holiday-names"><%= holiday.name %></p>
        </div>
      <% end %>
    </div>

    <div class="clock">
      <div id="Date"></div>
        <ul>
          <li id="hours"></li>
          <li id="point">:</li>
          <li id="min"></li>
          <li id="point">:</li>
          <li id="sec"></li>
        </ul>
    </div>

    <p class="quote-body">
      <span class="quote-body-text">"<%= Quote.quote_of_the_day %>"</span>
    </p>
  </div>
</div>