<h1> Hello, <%= @user.first_name.capitalize %> </h1>

<% @day.national_holidays.each do |holiday| %>
  <p><%= holiday.name %></p>
<% end %>


<% @day.quotes.each do |quote| %>
  <p><%= quote.body %></p>
<% end %>