<div class="today_page">

  <h1 id="hello-user"> Hello<%=', ' + current_user.first_name.capitalize if logged_in? %>! </h1>


  <div id="today-content">
    <% @day.national_holidays.each do |holiday| %>
      <div class="circles national-holidays">
        <p><%= holiday.name %></p>
      </div>
    <% end %>

    <div class="quote-sentence">
      <p>"<%= Quote.quote_of_the_day %>"</p>
    </div>
  </div>
</div>